:root {
  --text-color: #757575;
  --text-title-color: #212121;
  --footer-nav-color: rgba(255, 255, 255, 0.6);
  --heder-logo-s-color: #000000;
  --text-color-white: #ffffff;
  --accent-background-color-button: #188ce8;
  --accent-text-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
  font-style: sans-serif;
  font-weight: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  display: none;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-background-color-button);
}
.pre-pre-nav:hover,
.pre-pre-nav:focus {
  color: var(--accent-background-color-button);
}
.pre-button:hover,
.pre-button:focus {
  color: var(--accent-background-color-button);
  cursor: pointer;
}
.pre-nav:hover,
.pre-nav:focus {
  color: var(--accent-text-color);
}

/*-------------header-----------*/
.header-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--heder-logo-s-color);
}
.header-logo-w {
  color: var(--accent-text-color);
}
.header-nav,
.header-contakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-nav-link {
  color: var(--text-title-color);
}
.header-nav-link-b,
.header-contakt-mailto-b {
  color: var(--accent-text-color);
}
.header-contakt-tel {
  color: #757575;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heading {
  background: #2f303a;
}
.heading-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
.heading-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
}
/*---------------main--------------------*/
.main-feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
}
.pre-text {
  font-size: 14px;
  line-height: 1.71;
}
.pre-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--text-title-color);
}
.main-team-ul-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.main-team-text {
  font-size: 16px;
  line-height: 1.18;
}
/*------------------footer-----------------*/
.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color-white);
}
.footer-logo-w {
  color: var(--accent-text-color);
}
.footer-contakt-address {
  color: var(--text-color-white);
}
.footer-contakt-mailto,
.footer-contakt-tel {
  color: rgba(255, 255, 255, 0.6);
}
/*---------------Portfolio------------*/

.portfolio-header-nav-link {
  color: var(--text-title-color);
}
.portfolio-header-nav-link-b {
  color: var(--accent-text-color);
}
.portfolio-header-contakt-mailto,
.portfolio-header-contakt-tel {
  color: var(--text-color);
}
.pre-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.portfolio-button-b {
  color: var(--text-color-white);
  background-color: var(--accent-text-color);
}
.portfolio-button {
  color: var(--text-title-color);
  background: #f5f4fa;
  border-radius: 4px;
}
.main-project-ul-title {
  font-size: 18px;
  line-height: 2;
}
.main-project-text {
  font-size: 16px;
  line-height: 1.87;
}
